@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    position: relative;
}

::-webkit-scrollbar {
    display: none;
}
h1{
    text-align: center;
    margin: 10px;
    font-size: 20px;

}
.home-image {
    size: 110%;
    overflow: hidden;

}
img{
  max-width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */
}

  .textMiddle {
    font-size: 50%;
    background-color: #0191B4;

  }
  div.example {
    background-color: #0191B4;
    padding: 40px;
    color: white;
    text-align: center;
    height: 100%;
    width: 100%;
  }

  @media screen and (min-width: 601px) {
    div.example {
      font-size: 50px;
    }
  }

  @media screen and (max-width: 600px) {
    div.example {
      font-size: 30px;
    }
  }

  div.example1 {
    background-color: #E4A11B;
    padding: 40px;
    color: white;
    text-align: center;
    height: 100%;
    width: 100%;
  }

  @media screen and (min-width: 601px) {
    div.example1 {
      font-size: 50px;
    }
  }

  @media screen and (max-width: 600px) {
    div.example1 {
      font-size: 30px;
    }
  }
