@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    position: relative;
}


::-webkit-scrollbar {
    display: none;
}
h1{
    text-align: center;
    margin: 10px;
    font-size: 20px;

}
.home-image {
    size: 110%;
    overflow: hidden;
}
img{
  max-width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */
}

  .textMiddle {
    font-size: 50%;
    background-color: #0191B4;
  }
  div.example {
    background-color: #0191B4;
    padding: 40px;
    color: white;
    text-align: center;
    height: 100%;
    width: 100%;
  }
  @media screen and (min-width: 601px) {
    div.example {
      font-size: 40px;
    }
  }
  @media screen and (max-width: 600px) {
    div.example {
      font-size: 30px;
    }
  }

  div.example1 {
    background-color: #E4A11B;
    padding: 40px;
    color: white;
    text-align: center;
    height: 100%;
    width: 100%;
  }
  @media screen and (min-width: 601px) {
    div.example1 {
      font-size: 40px;
    }
  }
  @media screen and (max-width: 600px) {
    div.example1 {
      font-size: 15px;
    }
  }

.wrapper{
  background-image: url("/public/images/backgroundplan.png");
    padding: 125px 0 125px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}
.services{
    width: 1100px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.single-img{
    border-radius: 5px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    width: 325px;
    height: 450px;
    overflow: hidden;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
    transform: translate(0, 0);
    transition: .3s;
}
.single-img:hover{
    transform: translate(0, -9px);
}
.img-one{
    background-image: url("/public/images/Professional.png");
    overflow: hidden;
    background-color: #0191B4;
    background-size: cover;
    background-position: center center;
}
.img-two{
    background-image: url("/public/images/basic.png");
    background-size: cover;
    background-position: center center;
}
.img-three{
    background-image: url("/public/images/essentials.png");
    background-size: cover;
    background-position: center center;
}
.img-text{
    background: linear-gradient(to top,rgba(255,255,255,0.9),rgba(255,255,255,0));
    padding: 0 15px 10px 10px;
    width: 100%;
    height: auto;
    position: relative;
    transform: translate(0, 110px);
    line-height: 25px;
    transition: 0.5s ease;
    display: inline-block;
    text-align: center;
    color: black;
}

.services button{
    background: #E4A11B;
    color: #fff;
    padding: 10px 35px;
    border: none;
    border-radius: 50px;
    line-height: 14px;
    display: inline-block;
    margin-bottom: 10px;
}
.single-img:hover .img-text{
    transform: translate(0, 0);
}

@media (max-width: 991px){
    .wrapper{
        padding: 0;
    }
    .services{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    a{
        margin-bottom: 35px;
    }
}
.priceplan{
  text-align: center;
  padding: 10px;
  font-size: 40px;
  margin: 10px;
  color:#0191B4;

}

.fee {
  text-align: center;
  font-size: 20px;
  padding-top: 0;
  padding-bottom: 20px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
